@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #2f363e; */
    background: #0c2840;
}

header
{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2f363e; */
    background-color: #0c2840;
}

.logo 
{
    width: 300px;
}

.logo img
{
    width: 100%;
}

.main 
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;

    /* border: 1px solid #fff; */
}

.content
{
    width: auto;
    max-width: 400px;
    height: 300px;
    margin-right: 10px;
    /* border: 1px solid #fff; */
}

.content h1
{
    color: #fff;
    font-weight: 500;
}

.content a
{
    text-decoration: none;
}

.whats-button
{
    width: 189px;
    height: 65px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    color: #FFF;
    border-radius: 48px;
    text-align: center;
    font-size: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);

    /* border: solid 1px #fff; */
}

.whats-button h6
{
    color: #2f363e;
}

.whats-button img
{
    margin-left: 5px;
}

.container
{
    max-width: 450px;
    position: relative;
    /* background: #2f363e; */
    background: #0c2840;
    /* min-height: 500px; */
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* border: 1px solid #fff; */
}

.clock
{
    position: relative;
    width: 450px;
    height: 450px;
    /* background: #2f363e; */
    background: #0c2840;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.clock::before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 100000;
}

.clock span
{
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

/* calc 360 / 12 = 30deg */

.clock span b 
{
    font-size: 2em;
    opacity: 0.25;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.circle
{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.circle i
{
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) i
{
    width: 2px;
}

.circle:nth-child(2) i
{
    width: 6px;
}

.circle2
{
    width: 240px;
    height: 240px;
    z-index: 9;
}

.circle3
{
    width: 180px;
    height: 180px;
    z-index: 8;
}

.circle::before
{
    content: '';
    position: absolute;
    top: -8.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
}

/* digital clock style */

#time
{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

#time div
{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after
{
    content: ':';
    position: absolute;
    right: -4px;
}

#time div:last-child
{
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#time div:nth-child(2)::after
{
    animation: animate 1s steps(1) infinite;
}
@keyframes animate
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
}

@media only screen and (max-width: 988px){

    .content
    {
        max-width: 300px;
    }

    .content h1
    {
        font-size: 20px;
    }

}

@media only screen and (max-width: 889px){

    .container
    {
        max-width: 400px;
    }

    .clock
    {
        max-width: 400px;
        height: 400px;
    }

}

@media only screen and (max-width: 820px){

    .container
    {
        max-width: 300px;
    }

    .clock
    {
        max-width: 300px;
        height: 300px;
    }

    .content
    {
        margin-top: 150px;
    }

    .circle
    {
        position: absolute;
        width: 170px;
        height: 170px;
        border: 2px solid rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 10;
    }

    .circle2
    {
        width: 110px;
        height: 110px;
        z-index: 9;
    }

    .circle3
    {
        width: 50px;
        height: 50px;
        z-index: 8;
    }
  

    .circle::before
    {
        top: -1.5px;
    }

}

@media only screen and (max-width: 767px){

    .main
    {
        flex-direction: column;
    }

    .logo
    {
        width: 240px;
    }

    .content
    {
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content h1
    {
        text-align: center;
        margin-bottom: 10px;
    }

    .container
    {
        margin-top: -80px;
    }
}